body {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.divPrincipal {
    width: 25%;
    height: 50px;
    border: 1px solid black;
    position: relative;
    padding: 0px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tabelaDeItens{
    width: 25%;
    height: auto;
    margin: auto;
    border: 1px solid black;
}

.thPadrao{
    border: 1px solid black;
    font-weight: 600;
}

.tds {
    border:1px solid black;
}